<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:connection.properties"/>	
	
	<bean id="student" class="com.spring.Student">
	
	</bean>
 
	<bean id="dd" class="com.spring.DatabaseDetails">
		<property name="name" value="${name}"/>
		<property name="url" value="${url}"/>
		<property name="user" value="${user}"/>
		<property name="password" value="${password}"/>
	</bean>
	
	<bean id="dc" class="com.spring.DatabaseConnection">
		<property name="d" ref="dd"/>
	</bean>
	
</beans>