.div1{
	background-color: aqua;
	width:30%;
	margin-left: 35%;
	margin-top: 5%;
}

#textbox{
	background: transparent;
	height: 25px;
	width:60%; 
	font-size: 20px;
	border: none;
	border-bottom: blue 1px solid;
	margin-top: 2px;
}

#buttn{
	margin-top: 5px;
	background: transparent;
	height:25px;
	width: 25%;
	font-size: 18px;
}